.pacientes tr {
  cursor: pointer;
  position: relative;
  left: 0;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
  .pacientes thead {
    background-color: #222;
    color: #EEE
  }
  .pacientes tbody  tr:nth-child(3n) { background-color: #EEE; }
  .pacientes tbody  tr:nth-child(3n+2) { background-color: #CCC; }
  .pacientes tbody  tr:nth-child(3n+1) { background-color: #AAA; }

.pacientes tbody tr:hover {
  color: rgb(35, 32, 196);
  background-color: #77c9d8;
  left: .1em;
}
.pacientes tbody tr.selected {
  background-color: #CFD8DC;
  color: white;
}
.pacientes tbody tr.selected:hover {
  background-color: #BBD8DC;
  color: white;
}