.pacientes tr {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
  .pacientes tr:nth-child(2n) { background-color: #EEE; }
  .pacientes tr:nth-child(2n+1) { background-color: #777; }
.pacientes tr:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.pacientes tr.selected {
  background-color: #CFD8DC;
  color: white;
}
.pacientes tr.selected:hover {
  background-color: #BBD8DC;
  color: white;
}